#formDiv {
    margin-top:30px;
    margin-bottom: 30px;
}

.card-title {
    font-size: 25px;
}

.card-header {
    font-size: 18px;
}

.headingTracker {
    margin-bottom: 25px;
}

.trackerURL{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.trackerURL:hover {
    text-decoration: none;
    color: rgb(89, 88, 88);
}

