{% extends "pao/base.html" %}
{%load static %}

{%block title %} Главная {% endblock %}

{% block content %}

{%block link %} 
<link rel="stylesheet" href="{% static 'pao/css/pao.css' %}"> 
<script src="{%static 'pao/js/script.js' %}"> </script>
{% endblock %}

<div class="container " style="padding-top: 10; padding-bottom: 20px; ">
  <h1 style="margin-top: 20px ;">Отчет по работе в трекере</h1>
 <div class="content border border-4" style="margin-top: 20px ;">
<div class = "row" style="padding: 10px ;" >
  <h2 class="headingTracker">Общая информация</h2>
  
    <div class = "col"  >
            <div class="card text-white bg-secondary mb-3  text-center" >
                <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 5rem;">Не согласовано никем</div>
                <div class="card-body">
                  <h5 class="card-title" >45</h5>
                  
                </div>
              </div>
    </div>
    <div class = "col ">
        <div class="card text-white bg-secondary mb-3 text-center" >
            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 5rem;">Cогласовано только деканами</div>
            <div class="card-body">
              <h5 class="card-title">119</h5>
              
            </div>
          </div>
    </div>

    <div class = "col " >
        <div class="card text-white bg-secondary mb-3 text-center" >
            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 5rem;">Без визы ректора</div>
            <div class="card-body">
              <h5 class="card-title">12</h5>
              
            </div>
          </div>
    </div>

    <div class = "col ">
        <div class="card text-white bg-secondary mb-3 text-center" >
            <div class="card-header d-flex align-items-center justify-content-center" style="min-height: 5rem;">Может согласовать ПАО</div>
            <div class="card-body">
              <h5 class="card-title">11</h5>
              
            </div>
          </div>
    </div>

    </div>
   
<div class = "row" style="padding: 10px ;" >
  <h2 class="headingTracker">На согласовании у деканов</h2>
    <div class = "col">
            <div class="card text-white mb-3 text-center" style="background-color: rgb(109, 79, 173) ;" >
                <div class="card-header">На согласовании деканов</div>
                <div class="card-body">
                  <h5 class="card-title">103</h5>
                  
                </div>
              </div>
    </div>
</div>

<div class = "row" style="padding: 10px ;" >
    <div class = "col">
            <div class="card text-white bg-success mb-3 text-center" >
                <div class="card-header">ФБП</div>
                <div class="card-body">
                  <h5 class="card-title">4</h5>
                  
                </div>
              </div>
    </div>
    <div class = "col">
      <div class="card text-white bg-info mb-3 text-center" >
          <div class="card-header">ФГС</div>
          <div class="card-body">
            <h5 class="card-title">5</h5>
            
          </div>
        </div>
    </div>

    <div class = "col">
      <div class="card text-white bg-warning mb-3 text-center" >
          <div class="card-header">ФКЭП</div>
          <div class="card-body">
            <h5 class="card-title">6</h5>
            
          </div>
        </div>
    </div>

    <div class = "col">
    
      <div class="card text-white bg-primary mb-3 text-center" >
          <div class="card-header">ЮФ</div>
          <div class="card-body">
            <h5 class="card-title">43</h5>
            
          </div>
        </div>
    </div>
  </div>


  <div class = "row" style="padding: 10px ;" >
    <h2 class="headingTracker">Отправлено на доработку</h2>
      <div class = "col">
              <div class="card text-white mb-3 text-center" style="background-color: rgb(109, 79, 173) ;" >
                  <div class="card-header">Всего отправлено</div>
                  <div class="card-body">
                    <h5 class="card-title">19</h5>
                    
                  </div>
                </div>
      </div>
  </div>

  <div class = "row" style="padding: 10px ;" >
    
      <div class = "col">
              <div class="card text-white mb-3 text-center" style="background-color: rgb(149, 78, 127) ;" >
                  <div class="card-header">Деканами</div>
                  <div class="card-body">
                    <h5 class="card-title">19</h5>
                    
                  </div>
                </div>
      </div>

      <div class = "col">
        <div class="card text-white mb-3 text-center" style="background-color: rgb(119, 122, 103) ;" >
            <div class="card-header">АУП</div>
            <div class="card-body">
              <h5 class="card-title">19</h5>
              
            </div>
          </div>
       </div>

       <div class = "col">
        <div class="card text-white mb-3 text-center" style="background-color: rgb(240, 67, 67) ;" >
            <div class="card-header">Ректором</div>
            <div class="card-body">
              <h5 class="card-title">19</h5>
              
            </div>
          </div>
       </div>
  </div>

<div class = "row" style="padding: 10px ;" >
  <h2 class="headingTracker">На согласовании у АУП</h2>
  
    <div class = "col">
            <div class="card text-white mb-3 text-center" style="background-color: rgb(178, 75, 107) ;" >
                <div class="card-header">Калинин Д.С.</div>
                <div class="card-body">
                  <h5 class="card-title">0</h5>
                  
                </div>
              </div>
    </div>
    <div class = "col">
      <div class="card text-white mb-3 text-center" style="background-color: rgb(51, 70, 115) ;" >
          <div class="card-header">Коложвари Э.С.</div>
          <div class="card-body">
            <h5 class="card-title">5</h5>
            
          </div>
        </div>
    </div>

    <div class = "col">
      <div class="card text-white  mb-3 text-center" style="background-color: rgb(194, 162, 22) ;" >
          <div class="card-header">Обуховский Д.А.</div>
          <div class="card-body">
            <h5 class="card-title">6</h5>
            
          </div>
        </div>
    </div>

    <div class = "col">
    
      <div class="card text-white mb-3 text-center" style="background-color: rgb(28, 150, 30) ;" >
          <div class="card-header">Родионова З.В.</div>
          <div class="card-body">
            <h5 class="card-title">43</h5>
            
          </div>
        </div>
    </div>

    </div>

  <div class = "row" style="padding: 10px ;" >

    <div class = "col"  >
      <div class="card text-white mb-3 text-center" style="background-color: rgb(149, 78, 127) ;" >
          <div class="card-header">Леднева И.В.</div>
          <div class="card-body">
            <h5 class="card-title">15</h5>
            
          </div>
        </div>
     </div>

    <div class = "col ">
      <div class="card text-white mb-3 text-center" style="background-color: rgb(119, 122, 103) ;" >
          <div class="card-header">Куницын Д.В. / Мельников В.С.</div>
          <div class="card-body">
            <h5 class="card-title">97</h5>
            
          </div>
        </div>
    </div>

  <div class = "col " >
    <div class="card text-white mb-3 text-center" style="background-color: rgb(240, 67, 67) ;" >
        <div class="card-header">Без визы ректора</div>
        <div class="card-body">
          <h5 class="card-title">2</h5>
          
        </div>
      </div>
  </div>

  



</div>
   
</div>
</div>

</div>

{% endblock %}