<footer class="bg-dark text-center text-lg-start text-white mt-auto  ">
    <!-- Grid container -->
    <div class="container  p-2" style="display: flex; justify-content: center;" >
        <!--Grid row-->
        <div class="row mt-4 " style="display: flex; justify-content: center; ">
            
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-2 mb-md-2 ">

            <h5 class="text-uppercase">Наши проекты</h5>

            <ul class="list-unstyled mb-0">
            <li>
                <a href="#!" class="text-white">Дашборды</a>
            </li>
            <li>
                <a href="#!" class="text-white"></i>Телеграм Боты</a>
            </li>
            <li>
                <a href="#!" class="text-white"></i>Системы контроля</a>
            </li>
            </ul>
        </div>
        

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0" style="padding-left: 40px;">
            <h5 class="text-uppercase"  >Контакты</h5>

            <ul class="list-unstyled">
            <li>
                a.s.gintoft@nsuem.ru
            </li>
            <li>
                e.n.ermakov@nsuem.ru
            </li>
            <li>
                m.a.lepustin@nsuem.ru
            </li>
            </ul>
        </div>
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <a class="text-white" href="https://nsuem.ru/">nsuem.ru</a>
    </div>
    <!-- Copyright -->
    </footer>