.user-content {
    color: rgb(255, 255, 255);
    font-size: 12px;
    float: right;
    display:block
}

.user {
    
    display:block;
    margin-right: 20px;   
    width: 100%;  
    height: 50px;
}

.lk-url {
    color: rgb(255, 255, 255);
}

.lk-url:hover{
    color:rgb(130, 127, 127);
}

