.user-content {
    color: rgb(255, 255, 255);
    font-size: 14px;
    float: right;
    display:block
}

.lk-url {
    color: rgb(255, 255, 255);
}

.lk-url:hover{
    color:rgb(130, 127, 127);
}


